{
    "APP_NAME": "",
    "APP_VERSION": "",
    "APP_ENV": "",
    "APP_PORT": 8080,
    "APP_HOST": "http://localhost:8080",

    "JWT_SECRET": "",
    "ACCESS_TOKEN_EXP": "",
    "REFRESH_TOKEN_EXP": "",
    "RESET_PASSWORD_TOKEN_EXP": "",
    "INVITE_TOKEN_EXP": "",
    "VERIFY_ACCOUNT_TOKEN": "",
    "FORGOT_PASSWORD_CODE_EXP": "",

    "MONGO_URI": "",
    "SENTRY_DSN": "",
    "REDIS_URL": "",

    "AWS_ACCESS_KEY_ID": "",
    "AWS_SECRET_KEY": "",
    "AWS_REGION": "",
    "AWS_S3_UPLOAD_BUCKET": "",
    "PER_PAGE": 10
}
